<p>tshirt-update works!</p>
<form [formGroup]="tshirtForm" (ngSubmit)="updateTshirt(tshirtForm.value)">
  <label>Price <input type="number" formControlName="price"></label>
  <label>Size <input type="text" formControlName="size"></label>
  <label>Color <input type="text" formControlName="color"></label>
  <label>Type <input type="text" formControlName="type"></label>
  <label>IsMan <input type="checkbox" formControlName="isMan"></label>
  <label>ImgLink <input type="text" formControlName="imgLink"></label>
  <button type="submit">Submit</button>
</form>
